.detail-container {
    display: grid;
    grid-template-columns: 600px 600px;
    width: 30%;
}

.info {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.precio {
    /* font-family: ; */
    font-size: 22px;
    margin: auto;


}

.boton-detalle {
    width: 50%;
    margin: auto;
    color: white;
    background-color: black;

}

.imgg {
    width: 50%
}

.mas-menos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
}

.numerito {
    margin: auto;
    padding: auto;
}

.boton-numerito {

    width: 30px;
    color: white;
    background-color: black;
}




