@import url('https://fonts.googleapis.com/css2?family=Borel&family=Nunito+Sans:opsz@6..12&family=REM:wght@300&family=Roboto&display=swap');


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #001b2e;
  width: 100%;
}

/* LOADING... */

.h2-cargando {
  color: #efefd0;

}


