@import url('https://fonts.googleapis.com/css2?family=Borel&family=REM:wght@300&display=swap');


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #004e89;
  width: 100%;
}

.navbar-container {
  background-color: #efefd0;
}


.container-fluid { 
  background-color: #efefd0;
  display: flex;
  justify-content: flex-start;
  align-content: center;

}


.navbar-collapse{
  background-color: #efefd0;

}

.brand {
  font-family: 'Borel', cursive;
  padding: auto;
  text-align: center;
  margin-top: 20px;
}

button {
  color: white;
  background-color: #efefd0;
  border: none;
}

.say-hi { 
  margin: 20px;
  font-size: 25px;

}

.welcome { 
  margin: 30px;
  padding: 20px;
  
}

.welcome-message {
  font-size: 17px;
  color: white;
}

.tienda {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  color:#efefd0;

}

.img {
  width: 100%;
  max-width: 100%;

}

.detail-container {
  display: grid;
  grid-template-columns: 600px;
  grid-template-rows: 500px 50px;
  width: 30%;
  color:#efefd0;
}

.info {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.precio {
  font-size: 22px;
  margin: auto;


}

.boton-detalle {
  width: 50%;
  margin: auto;
  color: black;
  background-color: #efefd0;

}

.imgg {
  width: 50%
}

.mas-menos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr;
  margin: auto;
}

.numerito {
  margin: auto;
  padding: auto;
}

.boton-numerito {
  margin: auto;
  padding: 10px;
  color: black;
  background-color: #efefd0;
}

.container-agregar {
  display: flex;
  justify-content: center;
}

.boton-agregar {
  color: black;
  background-color: #efefd0;
  margin: 10px;
  

}

