@import url('https://fonts.googleapis.com/css2?family=Borel&family=Nunito+Sans:opsz@6..12&family=REM:wght@300&family=Roboto&display=swap');


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #001b2e;
  width: 100%;
}

.navbar-container {
  background-color: #efefd0;
}


.container-fluid { 
  background-color: #efefd0;
  display: flex;
  justify-content: flex-start;
  align-content: center;

}


.navbar-collapse{
  background-color: #efefd0;

}

.brand {
  font-family: 'Borel', cursive;
  padding: auto;
  text-align: center;
  margin-top: 20px;
}

button {
  color: white;
  background-color: #efefd0;
  border: none;
}

.say-hi { 
  margin: 20px;
  font-size: 25px;

}

.welcome { 
  margin: 30px;
  padding: 20px;
  
}

.welcome-message {
  font-size: 17px;
  color: white;
}

.tienda {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  color:#efefd0;

}

.img {
  width: 100%;
  max-width: 100%;

}

/*  ITEM DETAIL. ITEM DETAIL CONTAINER */

.detail-container {
  display: grid;
  grid-template-columns: 600px;
  grid-template-rows: 30px 1fr 1fr;
  width: 30%;
  color:#efefd0;
}

.detail-title {
  margin: 30px;
}

.detail-producto {
  margin-top: 60px;
}

.container-itemcount {
  margin-bottom: 50px;
}

.info {
  display: grid;
  grid-template-rows: 90px 90px 90px;
}

.precio {
  font-size: 22px;
  margin: auto;


}

/* ITEM COUNT */

.itemcount-checkout {
  padding: 5px;
  margin: auto;
  color: black;
  background-color: #efefd0;
  text-decoration: none;

}

.itemcount-checkout:hover {
  background-color: #bbbba3;
}
.itemcount-checkout:focus {
  background-color: #bbbba3;
}
.itemcount-checkout:active {
  background-color: #bbbba3;
}




.boton-agregar {
  color: black;
  background-color: #efefd0;
  margin: 0 auto;
}

.boton-agregar:hover {
  background-color: #bbbba3;
}
.boton-agregar:focus {
  background-color: #bbbba3;
}
.boton-agregar:active {
  background-color: #bbbba3;
}

.imgg {
  width: 50%
}

.mas-menos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr;
  margin: auto;
}

.numerito {
  margin: auto;
  padding: auto;
}

.boton-numerito {
  padding: 10px;
  color: black;
  background-color: #efefd0;
}

.boton-numerito:hover {
  background-color: #bbbba3;
}
.boton-numerito:focus {
  background-color: #bbbba3;
}
.boton-numerito:active {
  background-color: #bbbba3;
}

.container-agregar {
  display: grid;
  grid-template-rows: 50px 50px;
}



/* GREETINGS JSX */

.bienvenida {

  margin: 80px 30px;
  border-color: #ffc49b;
  border-radius: 10px;
}

.bienvenida-titulo {
  font-size: 50px;
  font-family: 'Borel', cursive;
  font-family: 'REM', sans-serif;
  color:  #001b2e;
  
}

.bienvenida-mensaje{
  font-size: 20px;
  color:  #001b2e;
  
}

.fuerte {
    color: #efefd0;
    background-color: #001b2e;
    font-weight: 500;
}

/* ITEM PRODUCT. ITEM LIST CONTAINER */

.ver-mas {
  color: #efefd0;
  text-decoration: none;
}
.ver-mas:visited {
  color: #efefd0

}

.producto {
  transition: transform 0.5s;
  
}

.producto:hover {

  transform: scale(1.0) translateY(-15px);
  box-shadow: #294c60 0px 50px 100px -20px, #294c60 0px 30px 60px -30px, #294c60 0px -2px 6px 0px inset;
}

.detalles {
  font-size: 20px;
  text-decoration:underline;
  font-family: 'Nunito Sans', sans-serif;
  
}

/* CARRITO JSX */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 5px;
  margin: auto;
  color: #efefd0;
  text-decoration: none;
  
}

.img-carrito{
  width: 300px
}

.carrito-producto {
  margin: 10px;
}


.container-h1 {
  font-size: 60px;
  color: #efefd0;
}

.finalizar {
  display: grid;
  justify-content: center;
  align-content: center;
}

.finalizar-h2 {
  color: #efefd0;
}

.finalizar-compra {
  display: grid;
  grid-template-rows: 70px 70px 70px;
}

.boton-finalizar-compra {
  padding: 5px;
  margin: auto;
  color: black;
  background-color: #efefd0;
  text-decoration: none;

}
.boton-vaciar {
  color: black;
  background-color: #efefd0;
  margin:  auto; 
}

.h2-carrito-vacio {
  color: #efefd0
}

/* CHECKOUT PAGE */

.container-checkout {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-rows: 100px 300px;
  min-width: 200px;
}

.h1 {
  color: #efefd0
}

.container-checkout.form {
  min-width: 200px;
  text-align: center;
 
}

.input {
  width: 400px;
  padding: 10px;
  margin: 12px;
  border: none;
  border-bottom: 3px solid #efefd0;
  font-size: 16px;
}

.enviar {
  color: #001b2e;
  background-color: #efefd0;
}

.enviar:hover {
  background-color: #bbbba3;
}
.enviar:focus {
  background-color: #bbbba3;
}
.enviar:active {
  background-color: #bbbba3;
}

.container-thanks {
  display: grid;
  grid-template-rows: 100px 100px;
  justify-content: center;
  align-content: center;
  color: #efefd0;
  margin: auto;
}

/* LOADING... */

.h2-cargando {
  color: #efefd0;

}


